.roboto {
  font-family: "Roboto", sans-serif;
}
.proxima {
  font-family: "proxima-nova", sans-serif;
}
.page-template-page-homepage-php {
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  line-height: 150%;
  color: #000000;
  padding: 0;
  margin: 0;
}
.page-template-page-homepage-php h1 {
  margin: 2em 0 0 0;
}
@media screen and (max-width: 768px) {
  .page-template-page-homepage-php h1 {
    margin: 1em 0 0 0;
  }
}
.page-template-page-homepage-php h1 .chcu {
  display: block;
  background-image: url('chcu.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: .5em 0;
}
.page-template-page-homepage-php h1 .chcu .text {
  display: none;
}
.page-template-page-homepage-php h1 .logo {
  display: block;
  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: .5em 0;
}
.page-template-page-homepage-php h1 .logo .text {
  display: none;
}
.page-template-page-homepage-php p {
  margin: 0;
}
.page-template-page-homepage-php a {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #444444;
}
.page-template-page-homepage-php a:hover {
  color: #ca220f;
  border-color: #ca220f;
}
.page-template-page-homepage-php hr {
  background-image: url('rainbow.png');
  background-size: cover;
  height: 1px;
  width: 100%;
  border: none;
  margin: 2em 0;
}
.page-template-page-homepage-php header[role="banner"] {
  display: none;
}
.page-template-page-homepage-php .button {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
}
.page-template-page-homepage-php .button:hover {
  color: white;
  background-color: #ca220f;
}
.page-template-page-homepage-php .rainbowButton {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
  background-image: url('rainbow.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.page-template-page-homepage-php .rainbowButton:hover {
  color: white;
  background-color: #ca220f;
}
.page-template-page-homepage-php .biggerButton {
  margin: 1em 0;
  padding: .75em 1em;
}
.page-template-page-homepage-php .roundedButton {
  border-radius: 3px;
}
.page-template-page-homepage-php .blackButton {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
  background-color: black;
  color: white;
}
.page-template-page-homepage-php .blackButton:hover {
  color: white;
  background-color: #ca220f;
}
.page-template-page-homepage-php .blackButton:hover {
  color: white;
  background-color: #ca220f;
}
.page-template-page-homepage-php .shout {
  font-family: "proxima-nova", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 97.5%;
  text-align: center;
  margin: .5em 0;
}
@media screen and (max-width: 768px) {
  .page-template-page-homepage-php .shout {
    font-size: 2em;
    line-height: 112.5%;
  }
}
.page-template-page-homepage-php .sectionHeader {
  margin: 3em auto 2em auto;
  text-align: center;
}
.page-template-page-homepage-php .sectionHeader h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 5.5em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 90%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .page-template-page-homepage-php .sectionHeader h2 {
    font-size: 3.5em;
    line-height: 105%;
  }
}
@media screen and (max-width: 480px) {
  .page-template-page-homepage-php .sectionHeader h2 {
    font-size: 2.5em;
    line-height: 112.5%;
  }
}
.page-template-page-homepage-php .sectionHeader .special {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 150%;
}
.page-template-page-homepage-php .sectionHeader .long {
  font-size: 1.15em;
  line-height: 150%;
  margin: .5em 0;
}
.page-template-page-homepage-php .programStories {
  list-style-type: none;
  padding: 0;
}
.page-template-page-homepage-php .programStories li {
  text-align: center;
}
.page-template-page-homepage-php .programStories li [data-topic] {
  padding: 1.5em;
  color: white;
}
.page-template-page-homepage-php .programStories li [data-topic=""] {
  color: black;
}
.page-template-page-homepage-php .programStories li [data-topic="doprava"] {
  background-color: #ca220f;
}
.page-template-page-homepage-php .programStories li [data-topic="turismus"] {
  background-color: #a82da4;
}
.page-template-page-homepage-php .programStories li .title {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 120%;
}
.page-template-page-homepage-php .programStories li .title a {
  color: white;
  border: none;
}
.page-template-page-homepage-php .programStories li .perex {
  margin: 1em 0 0 0;
  font-size: .9em;
  line-height: 150%;
}
.page-template-page-homepage-php .posts {
  list-style-type: none;
  padding: 0;
}
.page-template-page-homepage-php .posts li {
  clear: both;
  margin: 2em 0;
}
.page-template-page-homepage-php .posts li .title {
  font-family: "proxima-nova", sans-serif;
  font-size: 2.75em;
  line-height: 135%;
  margin: 0 0 .25em 0;
}
.page-template-page-homepage-php .candidates {
  list-style-type: none;
  padding: 0;
}
.page-template-page-homepage-php .candidates li {
  text-align: center;
  margin: 1em 0;
}
.page-template-page-homepage-php .candidates li .name {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0 .3em 0;
}
