.roboto {
  font-family: "Roboto", sans-serif;
}
.proxima {
  font-family: "proxima-nova", sans-serif;
}
.page-template-page-homepage-php h1 {
  margin: 2em 0 0 0;
}
@media screen and (max-width: 768px) {
  .page-template-page-homepage-php h1 {
    margin: 1em 0 0 0;
  }
}
.page-template-page-homepage-php h1 .chcu {
  display: block;
  background-image: url('chcu.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: .75em 0;
}
.page-template-page-homepage-php h1 .chcu .text {
  display: none;
}
.page-template-page-homepage-php h1 .logo {
  display: block;
  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: .75em 0;
}
.page-template-page-homepage-php h1 .logo .text {
  display: none;
}
.page-template-page-homepage-php header[role="banner"] {
  display: none;
}
.page-template-page-homepage-php .button {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
}
.page-template-page-homepage-php .button:hover {
  color: white;
  background-color: #de1879;
  text-decoration: none;
}
.page-template-page-homepage-php .rainbowButton {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
  background-image: url('rainbow.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.page-template-page-homepage-php .rainbowButton:hover {
  color: white;
  background-color: #de1879;
  text-decoration: none;
}
.page-template-page-homepage-php .biggerButton {
  margin: 1em 0;
  padding: .75em 1em;
}
.page-template-page-homepage-php .roundedButton {
  border-radius: 3px;
}
.page-template-page-homepage-php .blackButton {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
  background-color: black;
  color: white;
}
.page-template-page-homepage-php .blackButton:hover {
  color: white;
  background-color: #de1879;
  text-decoration: none;
}
.page-template-page-homepage-php .blackButton:hover {
  color: white;
  background-color: #de1879;
}
.page-template-page-homepage-php .topics {
  text-align: center;
  margin: 0 0 1.5em 0;
}
.page-template-page-homepage-php .topics h3 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
  margin: 0 1em;
}
.page-template-page-homepage-php .topics ul {
  display: inline;
  padding: 0;
  margin: 0;
}
.page-template-page-homepage-php .topics ul li {
  display: inline-block;
  margin: 0 1em;
}
.page-template-page-homepage-php .programStories {
  list-style-type: none;
  padding: 0;
}
.page-template-page-homepage-php .programStories li {
  text-align: center;
}
.page-template-page-homepage-php .programStories li [data-topic] {
  padding: 1.5em;
  color: white;
}
.page-template-page-homepage-php .programStories li [data-topic=""] {
  color: black;
}
.page-template-page-homepage-php .programStories li [data-topic="pohyb"] {
  background-color: #ca220f;
}
.page-template-page-homepage-php .programStories li [data-topic="domov"] {
  background-color: #e29c05;
}
.page-template-page-homepage-php .programStories li [data-topic="kultura"] {
  background-color: #8ebf28;
}
.page-template-page-homepage-php .programStories li [data-topic="ferhra"] {
  background-color: #19aabf;
}
.page-template-page-homepage-php .programStories li [data-topic="vzdelani"] {
  background-color: #222081;
}
.page-template-page-homepage-php .programStories li [data-topic="bydleni"] {
  background-color: #a82da4;
}
.page-template-page-homepage-php .programStories li [data-topic="zdravi"] {
  background-color: #de1879;
}
.page-template-page-homepage-php .programStories li .title {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 120%;
}
.page-template-page-homepage-php .programStories li .title a {
  color: white;
  border: none;
}
.page-template-page-homepage-php .programStories li .perex {
  margin: 1em 0 0 0;
  font-size: .9em;
  line-height: 150%;
}
.page-template-page-homepage-php .posts {
  list-style-type: none;
  padding: 0;
}
.page-template-page-homepage-php .posts li {
  clear: both;
  margin: 0 0 2em 0;
}
.page-template-page-homepage-php .posts li .title {
  font-family: "proxima-nova", sans-serif;
  font-size: 2.75em;
  line-height: 135%;
  margin: 0 0 .25em 0;
}
@media screen and (max-width: 992px) {
  .page-template-page-homepage-php .posts li .title {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  .page-template-page-homepage-php .posts li .title {
    font-size: 1.5em;
  }
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 10pt;
  line-height: 150%;
  color: #000000;
  padding: 0 0 3em 0;
  margin: 0;
}
p {
  margin: .75em 0;
}
a {
  color: #de1879;
  text-decoration: none;
  border-bottom: 1px solid #de1879;
}
a:hover {
  color: #666666;
  border-color: #666666;
  text-decoration: none;
}
a.img {
  border: none;
  line-height: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
a[data-topic="pohyb"] {
  color: #ca220f;
  border-color: #ca220f;
}
a[data-topic="domov"] {
  color: #e29c05;
  border-color: #e29c05;
}
a[data-topic="kultura"] {
  color: #8ebf28;
  border-color: #8ebf28;
}
a[data-topic="ferhra"] {
  color: #19aabf;
  border-color: #19aabf;
}
a[data-topic="vzdelani"] {
  color: #222081;
  border-color: #222081;
}
a[data-topic="bydleni"] {
  color: #a82da4;
  border-color: #a82da4;
}
a[data-topic="zdravi"] {
  color: #de1879;
  border-color: #de1879;
}
hr {
  clear: both;
  background-image: url('rainbow.png');
  background-size: contain;
  height: 2px;
  width: 100%;
  border: none;
  margin: 1.5em 0;
}
.shout {
  font-family: "proxima-nova", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 112.5%;
  text-align: center;
  margin: .5em 0;
}
@media screen and (max-width: 768px) {
  .shout {
    font-size: 2em;
    line-height: 112.5%;
  }
}
.shout .line {
  display: block;
}
@media screen and (max-width: 480px) {
  .shout .line {
    display: inline;
  }
}
.sectionHeader {
  margin: 1em auto;
  text-align: center;
}
.sectionHeader h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 5.75em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 90%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .sectionHeader h2 {
    font-size: 3.5em;
    line-height: 105%;
  }
}
@media screen and (max-width: 480px) {
  .sectionHeader h2 {
    font-size: 2.5em;
    line-height: 112.5%;
  }
}
.sectionHeader .special {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 150%;
  margin-top: .25em;
}
.sectionHeader .long {
  font-size: 1.15em;
  line-height: 150%;
  margin: .5em 0;
}
.pageHeader {
  text-align: center;
}
.pageHeader h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 8em;
  text-transform: uppercase;
}
.pageHeader .lead {
  font-size: 1.4em;
}
#fb-root {
  display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
.squareImagePlaceholder {
  display: inline-block;
  background-color: #DDD;
  width: 100%;
}
footer[role="general"] .facebook {
  margin: 2em 0;
}
footer[role="general"] .logo {
  width: 65%;
}
@media screen and (max-width: 480px) {
  footer[role="general"] .logo {
    width: 100%;
  }
}
footer[role="general"] h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
footer[role="general"] .links {
  list-style-type: none;
  padding: 0;
}
footer[role="general"] .links li {
  display: inline-block;
  width: 50%;
}
@media screen and (max-width: 480px) {
  footer[role="general"] .links li {
    width: 100%;
  }
}
#chcuNav {
  font-family: "proxima-nova", sans-serif;
  background: white;
  border: none;
  text-transform: uppercase;
}
#chcuNav .navbar-brand {
  border: none;
}
#chcuNav .navbar-brand img {
  height: 13px;
}
@media screen and (min-width: 768px) {
  #chcuNav {
    text-align: center;
    vertical-align: baseline;
  }
  #chcuNav *,
  #chcuNav *:before,
  #chcuNav *:after {
    display: inline;
    float: none;
    clear: none;
    padding: 0;
    margin: 0;
    line-height: 17px;
  }
  #chcuNav .navbar-collapse.collapse {
    display: inline !important;
  }
  #chcuNav .navbar-toggle {
    display: none;
  }
  #chcuNav .navbar-brand-container,
  #chcuNav .navbar-collapse li {
    display: inline-block;
    padding: 2em .75em;
  }
  #chcuNav .navbar-brand-container {
    vertical-align: 12%;
  }
  #chcuNav .navbar-collapse li {
    vertical-align: 0%;
  }
  #chcuNav a {
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    color: #B5B5B5;
    border-bottom: 1px solid #EEE;
    padding: 0;
    margin: 0;
  }
  #chcuNav a:hover {
    color: #de1879;
    border: none;
  }
  #chcuNav .current-menu-item a {
    background: none;
    color: black;
    border: none;
    pointer-events: none;
  }
}
.candidates {
  list-style-type: none;
  padding: 0;
}
.candidates li {
  text-align: center;
  margin: 1em 0;
}
.candidates li .name {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 135%;
  margin: 1em 0 .2em 0;
}
@media screen and (max-width: 480px) {
  .candidates li .name .firstName,
  .candidates li .name .lastName {
    display: block;
  }
}
.candidates li .occupation {
  margin: 0;
}
