@line-height: 150%;

@color-text: black;
@color-link: #444;

@color-doprava:  #ca220f;
@color-turismus: #a82da4;

.roboto {
	font-family: "Roboto", sans-serif;
}
.proxima {
	font-family: "proxima-nova", sans-serif;
}

.page-template-page-homepage-php {
	.roboto;
	font-size: 10pt;
	line-height: @line-height;
	color: @color-text;

	p {
		margin: 0;
	}

	a {
		color: @color-link;
		text-decoration: none;
		border-bottom: 1px solid @color-link;

		&:hover {
			color: @color-doprava;
			border-color: @color-doprava;
		}

	}

	header[role="banner"] {
		display: none;
	}

	.blackButton {
		.proxima;
		display: inline-block;
		padding: .5em .75em;
		border: none;
		background-color: black;
		color: white;
		font-size: 1.5em;
		font-weight: 700;

		&:hover {
			color: white;
			background-color: @color-doprava;
		}

	}

	.shout {
		.proxima;
		font-size: 3em;
		font-weight: 700;
		line-height: @line-height * .65;
		text-align: center;
		margin: .5em 0;
	}

	.sectionHeader {
		margin: 3em auto 2em auto;
		text-align: center;

		h2 {
			.proxima;
			font-size: 5.5em;
			font-weight: 900;
			text-transform: uppercase;
			line-height: @line-height * .6;
			margin: 0;
		}

		.special {
			.proxima;
			font-size: 1.25em;
			font-weight: 500;
			line-height: @line-height;
		}

		.long {
			font-size: 1.15em;
			line-height: @line-height;
			margin: .5em 0;
		}

	}

	.programStories {
		list-style-type: none;
		padding: 0;

		li {
			text-align: center;

			[data-topic] {
				padding: 1.5em;
				color: white;
			}

			[data-topic=""] {
				color: black;
			}

			[data-topic="doprava"] { background-color: #ca220f; }
			[data-topic="turismus"] { background-color: #a82da4; }

			.title {
				.proxima;
				font-size: 1.3em;
				font-weight: 700;
				line-height: @line-height * .8;

				a {
					color: white;
					border: none;
				}

			}

			.perex {
				margin: 1em 0 0 0;
				font-size: .9em;
				line-height: @line-height;
			}

		}

	}

	.posts {
		list-style-type: none;
		padding: 0;

		li {
			clear: both;
			margin: 2em 0;

			.title {
				.proxima;
				font-size: 2.75em;
				line-height: @line-height * .9;
				margin: 0 0 .25em 0;
			}

		}

	}

	.candidates {
		list-style-type: none;
		padding: 0;

		li {
			text-align: center;
			margin: 1em 0;

			.name {
				.proxima;
				font-size: 1.3em;
				font-weight: 700;
				margin: 1em 0 .3em 0;
			}

		}

	}

}
