.font-size-normal {
  font-size: 1em;
}
.font-size-larger {
  font-size: 1.2em;
}
.font-size-smaller {
  font-size: .9em;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.proxima {
  font-family: "proxima-nova", sans-serif;
}
.page-template-page-homepage-php h1 {
  margin: 2em 0 1em 0;
  display: block;
  background-image: url('images/CHCU_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .page-template-page-homepage-php h1 {
    margin: 1em 0 0 0;
  }
}
.page-template-page-homepage-php h1 .chcu .text {
  display: none;
}
.page-template-page-homepage-php h1 .logo .text {
  display: none;
}
.page-template-page-homepage-php header[role="banner"] {
  display: none;
}
.page-template-page-homepage-php .rainbowButton {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
  background-image: url('rainbow.png');
  background-repeat: repeat-y;
  background-size: contain;
}
.page-template-page-homepage-php .rainbowButton:hover {
  color: white;
  background-color: #000000;
  text-decoration: none;
}
.page-template-page-homepage-php .biggerButton {
  margin: 1em 0;
  padding: .75em 1em;
}
.page-template-page-homepage-php .roundedButton {
  border-radius: 3px;
}
.page-template-page-homepage-php .topics {
  text-align: center;
  margin: 0 0 1em 0;
  line-height: 200%;
}
.page-template-page-homepage-php .topics h3 {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 1em;
}
.page-template-page-homepage-php .topics ul {
  display: inline;
  padding: 0;
  margin: 0;
}
.page-template-page-homepage-php .topics ul li {
  display: inline-block;
  margin: 0 1em;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 10pt;
  line-height: 150%;
  color: #000000;
  padding: 0 0 3em 0;
  margin: 0;
}
p {
  margin: .75em 0;
}
a {
  color: #000000;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  font-size: 1em;
}
a:hover {
  color: #de1879;
  border-color: #de1879;
  text-decoration: none;
}
a.accent {
  color: #de1879;
  border-color: #de1879;
}
a.accent:hover {
  color: #666666;
  border-color: #666666;
  text-decoration: none;
}
a.img {
  border: none;
  line-height: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
a[data-topic="pohyb"] {
  color: #ca220f;
  border-color: #ca220f;
}
a[data-topic="domov"] {
  color: #e29c05;
  border-color: #e29c05;
}
a[data-topic="kultura"] {
  color: #8ebf28;
  border-color: #8ebf28;
}
a[data-topic="ferhra"] {
  color: #19aabf;
  border-color: #19aabf;
}
a[data-topic="vzdelani"] {
  color: #222081;
  border-color: #222081;
}
a[data-topic="bydleni"] {
  color: #a82da4;
  border-color: #a82da4;
}
a[data-topic="zdravi"] {
  color: #de1879;
  border-color: #de1879;
}
hr {
  clear: both;
  background-image: url('images/CHCU_HR.gif');
  background-size: contain;
  height: 2px;
  width: 100%;
  border: none;
  margin: 1.5em 0;
}
.shout {
  font-family: "proxima-nova", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 112.5%;
  text-align: center;
  margin: .5em 0;
}
@media screen and (max-width: 480px) {
  .shout {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  .shout {
    font-size: 2em;
    line-height: 112.5%;
  }
}
.shout .line {
  display: block;
}
@media screen and (max-width: 480px) {
  .shout .line {
    display: inline;
  }
}
.sectionHeader {
  margin: 1em auto;
  text-align: center;
}
.sectionHeader h2 {
  font-family: "proxima-nova", sans-serif;
  font-size: 5.75em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 90%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .sectionHeader h2 {
    font-size: 3.5em;
    line-height: 105%;
  }
}
@media screen and (max-width: 480px) {
  .sectionHeader h2 {
    font-size: 2.5em;
    line-height: 112.5%;
  }
}
.sectionHeader .special {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 150%;
  margin-top: .25em;
}
.sectionHeader .long {
  font-size: 1.2em;
  line-height: 150%;
  margin: .5em 0;
}
.pageHeader {
  text-align: center;
}
.pageHeader h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 8em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .pageHeader h1 {
    font-size: 5em;
    line-height: 105%;
  }
}
@media screen and (max-width: 480px) {
  .pageHeader h1 {
    font-size: 3em;
    line-height: 105%;
  }
}
.pageHeader .lead {
  font-size: 1.4em;
}
@media screen and (max-width: 768px) {
  .pageHeader .lead {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 480px) {
  .pageHeader .lead {
    font-size: 1em;
  }
}
#fb-root {
  display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
.squareImagePlaceholder {
  display: inline-block;
  background-color: #DDD;
  width: 100%;
}
footer[role="general"] .facebook {
  margin: 2em 0;
}
footer[role="general"] .logo {
  width: 65%;
}
@media screen and (max-width: 480px) {
  footer[role="general"] .logo {
    width: 100%;
  }
}
footer[role="general"] h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
footer[role="general"] .links {
  list-style-type: none;
  padding: 0;
}
footer[role="general"] .links li {
  display: inline-block;
  width: 50%;
}
@media screen and (max-width: 480px) {
  footer[role="general"] .links li {
    width: 100%;
  }
}
#chcuNav {
  font-family: "proxima-nova", sans-serif;
  background: white;
  border: none;
  text-transform: uppercase;
  margin: 0;
}
#chcuNav .navbar {
  margin: 0;
}
#chcuNav .navbar-brand {
  border: none;
}
#chcuNav .navbar-brand img {
  height: 13px;
  width:54px;
  margin-top: 1px;
}
#chcuNav a {
  border: none;
}
@media screen and (min-width: 768px) {
  #chcuNav {
    text-align: center;
    vertical-align: baseline;
  }
  #chcuNav *,
  #chcuNav *:before,
  #chcuNav *:after {
    display: inline;
    float: none;
    clear: none;
    padding: 0;
    margin: 0;
    line-height: 18px;
  }
  #chcuNav .navbar-collapse.collapse {
    display: inline !important;
  }
  #chcuNav .navbar-toggle {
    display: none;
  }
  #chcuNav .navbar-brand-container,
  #chcuNav .navbar-collapse li {
    display: inline-block;
    padding: 2em .75em;
  }
  #chcuNav .navbar-brand-container {
    vertical-align: 12%;
  }
  #chcuNav .navbar-collapse li {
    vertical-align: 0%;
  }
  #chcuNav a {
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    color: #B5B5B5;
    border-bottom: 1px solid #EEE;
    padding: 0;
    margin: 0;
  }
  #chcuNav a:hover {
    color: #000000;
    border: none;
  }
  #chcuNav .current-menu-item a {
    background: none;
    color: black;
    border: none;
    pointer-events: none;
  }
}
.candidates {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}
.candidates li {
  text-align: center;
  margin: 1em 0;
}
.candidates li .name {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 135%;
  margin: 1em 0 .2em 0;
}
@media screen and (max-width: 480px) {
  .candidates li .name .firstName,
  .candidates li .name .lastName {
    display: block;
  }
}
.candidates li .occupation {
  margin: 0;
}
.programStories {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}
.programStories li {
  text-align: center;
  margin-bottom: 1em;
}
.programStories li [data-topic] {
  padding: 1.5em;
  color: white;
}
.programStories li [data-topic=""] {
  color: black;
}
.programStories li [data-topic="pohyb"] {
  background-color: #ca220f;
}
.programStories li [data-topic="domov"] {
  background-color: #e29c05;
}
.programStories li [data-topic="kultura"] {
  background-color: #8ebf28;
}
.programStories li [data-topic="ferhra"] {
  background-color: #19aabf;
}
.programStories li [data-topic="vzdelani"] {
  background-color: #222081;
}
.programStories li [data-topic="bydleni"] {
  background-color: #a82da4;
}
.programStories li [data-topic="zdravi"] {
  background-color: #de1879;
}
.programStories li [data-topic] {
  cursor: pointer;
}
.programStories li .title {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.programStories li .title a {
  color: white;
  border: none;
}
.programStories li .perex {
  font-size: .9em;
  margin: 1em 0 0 0;
  line-height: 150%;
}
.posts {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}
.posts li {
  clear: both;
  margin: 0 0 2em 0;
}
.posts li .title {
  font-family: "proxima-nova", sans-serif;
  font-size: 2.75em;
  line-height: 135%;
  margin: 0 0 .25em 0;
}


.programStories li:hover div
{
          background-color: none;
  background-image: url('images/CHCU_HR.gif');
  background-size: contain;

}
@media screen and (max-width: 992px) {
  .posts li .title {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  .posts li .title {
    font-size: 1.5em;
  }
}
.candidateHeader {
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0;
}
.candidateHeader.hasPortrait .candidateInfoWrapper {
  margin-top: 57%;
}
.candidateHeader .candidateInfoWrapper {
  background: black;
  color: white;
}
.candidateHeader .candidateInfoWrapper .candidateInfo {
  padding: 4em;
}
@media screen and (max-width: 768px) {
  .candidateHeader .candidateInfoWrapper .candidateInfo {
    padding: 3em;
  }
}
@media screen and (max-width: 480px) {
  .candidateHeader .candidateInfoWrapper .candidateInfo {
    padding: 2.5em 1.5em;
  }
}
.candidateHeader .candidateInfoWrapper h1 {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 6em;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .candidateHeader .candidateInfoWrapper h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 480px) {
  .candidateHeader .candidateInfoWrapper h1 {
    font-size: 3em;
  }
}
.candidateHeader .candidateInfoWrapper .lead {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 0 0;
}
.candidateContacts {
  font-size: 1.2em;
  color: white;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 2em 0 0 0;
  line-height: 200%;
}
.candidateContacts li {
  display: inline-block;
  margin: 0 1.5em;
}
@media screen and (max-width: 480px) {
  .candidateContacts li {
    display: block;
    margin: .5em 0;
  }
}
.candidateContacts li.socialNetwork {
  margin: 0 .1em;
}
@media screen and (max-width: 480px) {
  .candidateContacts li.socialNetwork {
    display: inline-block;
  }
}
.candidateContacts a {
  color: white;
  border-color: white;
}
.candidateContacts a:hover {
  color: #de1879;
  border-color: #de1879;
}
.candidateContacts a.icon {
  border: none;
}
.candidateContacts a.icon:hover i {
  color: white;
  background: #de1879;
}
.candidateContacts i {
  color: black;
  padding: .5em .4em .4em .4em;
  background: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 .25em;
  vertical-align: middle;
}
.candidateWants {
  display: inline-block;
  width: 50%;
  margin: 0;
  text-align: center;
  vertical-align: top;
}
@media screen and (max-width: 480px) {
  .candidateWants {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }
}
.candidateWants h2 {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 900;
  margin: 1em 0 0 0;
}
.candidateWants h2 i {
  display: block;
}
.candidateWants ul {
  font-size: 1.2em;
  list-style-type: none;
  padding: 0 2em;
  margin: .75em 0 0 0;
  line-height: 150%;
}
@media screen and (max-width: 480px) {
  .candidateWants ul {
    padding: 0;
  }
}
.candidateWants ul li {
  margin: .25em 0;
}
.candidateDoWant {
  border-right: 1px solid black;
}
@media screen and (max-width: 480px) {
  .candidateDoWant {
    border: none;
  }
}
.candidateDoWant h2 {
  color: #8ebf28;
}
.candidateDoNotWant {
  border-left: 1px solid black;
}
@media screen and (max-width: 480px) {
  .candidateDoNotWant {
    border: none;
  }
}
.candidateDoNotWant h2 {
  color: #ca220f;
}
.candidateBioHeaderWrapper {
  text-align: center;
}
.candidateBioHeaderWrapper.hasNotWants {
  margin: 2.5em 0 0 0;
}
.candidateBioHeader {
  font-family: "proxima-nova", sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  background: black;
  color: white;
  padding: .5em;
  margin: 0 0 .5em 0;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}
.candidateBioHeader .middle {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.candidateBio {
  font-size: 1.2em;
  line-height: 150%;
}
@media screen and (max-width: 480px) {
  .candidateBio {
    font-size: 1em;
  }
}
.candidateBio .lead {
  font-size: 1em;
}
.candidateUrls {
  margin: 1em 0;
  text-align: center;
  padding: 0;
  list-style-type: none;
}
.candidateUrls li {
  display: inline-block;
  margin: 0 1em;
}
.button {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
}
.button:hover {
  color: white;
  background-color: #000000;
  text-decoration: none;
}
.blackButton {
  font-family: "proxima-nova", sans-serif;
  display: inline-block;
  padding: .5em .75em;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
  background-color: black;
  color: white;
}
.blackButton:hover {
  color: white;
  background-color: #000000;
  text-decoration: none;
  
}
.blackButton:hover {
  color: white;
  background-color: #de1879;
  background-color: none;
  background-image: url('images/CHCU_HR.gif');
  background-size: contain;
}
.programStoryHeader {
  color: white;
  text-align: center;
  padding: 2em;
}
.programStoryHeader[data-topic="pohyb"] {
  background-color: #ca220f;
}
.programStoryHeader[data-topic="domov"] {
  background-color: #e29c05;
}
.programStoryHeader[data-topic="kultura"] {
  background-color: #8ebf28;
}
.programStoryHeader[data-topic="ferhra"] {
  background-color: #19aabf;
}
.programStoryHeader[data-topic="vzdelani"] {
  background-color: #222081;
}
.programStoryHeader[data-topic="bydleni"] {
  background-color: #a82da4;
}
.programStoryHeader[data-topic="zdravi"] {
  background-color: #de1879;
}
.programStoryHeader h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 5em;
}
.programStoryHeader .lead {
  font-size: 1.5em;
}
.programStoryWrapper {
  margin-top: 2em;
}
.programStoryText {
  font-size: 1em;
}
.programStoryText p {
  font-size: 1.2em;
  line-height: 150%;
}
.programBrowse.prev {
  text-align: left;
}
.programBrowse.prev .icon {
  margin: 0 .25em 0 0;
}
.programBrowse.next {
  text-align: right;
}
.programBrowse.next .icon {
  margin: 0 0 0 .25em;
}
.programBrowse a {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  color: #B5B5B5;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.programBrowse a:hover {
  color: #de1879;
}
.programBrowse a .text,
.programBrowse a .icon {
  display: inline-block;
  vertical-align: middle;
}
.programBrowse a .text .line {
  display: block;
}
.manifestoButtonContainer {
  margin: 1.5em 0 5em 0;
}
.contactOptions {
  margin: 2em 0;
}
.contactSegment {
  text-align: center;
}
.contactSegment.meetings {
  border-right: 1px dotted #000000;
}
@media screen and (max-width: 768px) {
  .contactSegment.meetings {
    border-right: none;
  }
}
.contactSegment .image {
  max-width: 75px;
  margin: 1em auto;
}
.donateButton {
  text-align: center;
  margin: 2em auto;
}
.donateButton .img-responsive {
  display: inline-block;
}

.donateButton a  {
  background: url('images/chci_prispet_hover.gif') center center no-repeat;
  z-index: 1000;        
}

.donateButton a:hover img {
  visibility:hidden;
}

.kolo {
  background-image: url('images/TO_CHCES.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2em 0;
}
.kolo .background {
  margin: 2em 0;
}
.kolo table.container {
  width: 100%;
  height: 100%;
}
.kolo table.container td {
  vertical-align: middle;
}
.kolo form {
  color: white;
  text-align: center;
}
.kolo form h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 11em;
}
@media screen and (max-width: 992px) {
  .kolo form h2 {
    font-size: 10em;
  }
}
@media screen and (max-width: 860px) {
  .kolo form h2 {
    font-size: 8.5em;
  }
}
@media screen and (max-width: 640px) {
  .kolo form h2 {
    font-size: 7.5em;
  }
}
@media screen and (max-width: 480px) {
  .kolo form h2 {
    font-size: 4em;
  }
}
.kolo form .inputs {
  border-collapse: collapse;
  line-height: 0;
  margin: 1em auto;
}
.kolo form .inputs td {
  padding: 0;
  margin: 0;
}
.kolo form input,
.kolo form button {
  display: inline-block;
  float: none;
  font-size: 2.5em;
  line-height: 150%;
  box-sizing: border-box;
  padding: .4em;
  margin: 0;
  border: 2px solid black;
  outline: 0;
}
@media screen and (max-width: 860px) {
  .kolo form input,
  .kolo form button {
    font-size: 2em;
  }
}
@media screen and (max-width: 640px) {
  .kolo form input,
  .kolo form button {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .kolo form input,
  .kolo form button {
    font-size: 1em;
  }
}
.kolo form input[type="submit"],
.kolo form button[type="submit"] {
  text-transform: uppercase;
  margin-left: -1px;
}
.kolo form input:focus,
.kolo form button:focus {
  outline: 0;
}
.postTitle {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 4em;
  line-height: 105%;
}
.postContent p,
.postContent p.lead {
  font-size: 1.2em;
  line-height: 150%;
}
.longCopy h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  margin: 1.5em 0 .5em 0;
}
.longCopy h3 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  margin: 1.5em 0 .5em 0;
}
.longCopy ol {
  padding: 0;
}
.longCopy p,
.longCopy p.lead {
  font-size: 1.2em;
  line-height: 150%;
}
.longCopy p strong,
.longCopy p.lead strong {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
}
.longCopy p em,
.longCopy p.lead em {
  font-family: "proxima-nova", sans-serif;
}
